<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-row [nzGutter]="16">
    <nz-col [nzSpan]="24">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="cert_id">Chứng chỉ</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Bắt buộc">
          <nz-select formControlName="cert_id" id="cert_id" nzPlaceHolder="Chọn chứng chỉ">
            <nz-option *ngFor="let cert of certificates" [nzValue]="cert.id" [nzLabel]="cert.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzSpan]="24">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="code">Mã</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Bắt buộc">
          <nz-input-group nzPrefixIcon="font-colors">
            <input nz-input formControlName="code" id="code" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzSpan]="24">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Tên</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Bắt buộc">
          <nz-input-group nzPrefixIcon="font-colors">
            <input nz-input formControlName="name" id="name" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzSpan]="24">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="order_index">Thứ tự</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Bắt buộc">
          <nz-input-group nzPrefixIcon="number">
            <input nz-input formControlName="order_index" id="order_index" type="number" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzSpan]="24">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="status" nzRequired>Trạng thái</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24">
          <nz-select formControlName="status" id="status">
            <nz-option [nzValue]="1" nzLabel="Hoạt động"></nz-option>
            <nz-option [nzValue]="0" nzLabel="Không hoạt động"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzSpan]="24">
      <div style="text-align:right;margin-top:16px">
        <button type="button" nz-button [nzType]="'default'" (click)="modalRef.close(false)">Hủy</button>
        <button type="submit" nz-button [nzType]="'primary'" [disabled]="validateForm.invalid">{{ isEdit ? 'Cập nhật' : 'Tạo mới' }}</button>
      </div>
    </nz-col>
  </nz-row>
</form>
