<form nz-form [formGroup]="groupForm" (ngSubmit)="submit()">
  <nz-row [nzGutter]="16">
    <nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label>Exam ID</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="exam_id" type="number" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label>Part ID</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="part_id" type="number" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label>Ảnh nhóm</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="image_url" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-label>Audio Start (ms)</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="audio_start_ms" type="number" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-label>Audio End (ms)</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="audio_end_ms" type="number" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>
  <h3>Danh sách câu hỏi con</h3>
  <div formArrayName="sub_questions">
    <div *ngFor="let subQ of subQuestions.controls; let i = index" [formGroupName]="i">
      <app-sub-question-form (remove)="removeSubQuestion(i)"></app-sub-question-form>
      <nz-divider *ngIf="i < subQuestions.controls.length - 1"></nz-divider>
    </div>
  </div>
  <button nz-button nzType="dashed" type="button" (click)="addSubQuestion()">+ Thêm câu hỏi con</button>
  <div style="text-align:right;margin-top:16px">
    <button nz-button nzType="primary" htmlType="submit">Lưu nhóm câu hỏi</button>
  </div>
</form>
